NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_secret_public_key
CLERK_SECRET_KEY=sk_test_secret_key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_OUT_URL=/
NEXT_PUBLIC_SUPABASE_URL=https://youruniquestring.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_your_unique_key