NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_secret_public_key
CLERK_SECRET_KEY=sk_test_secret_key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_OUT_URL=/
NEXT_PUBLIC_SUPABASE_URL=https://youruniquestring.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_your_unique_key
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_your_unique_key
NEXT_PUBLIC_UPLOAD_SERVER_URL=http://localhost:3001
INTERNAL_SECRET=your_unique_secret
SUPABASE_SERVICE_ROLE_KEY=your_unique_secret_role_key

STRIPE_SECRET_KEY=secret_key
STRIPE_WEBHOOK_SECRET=secret_key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=public_key
STRIPE_PRO_MONTHLY_PRICE_ID=pro_price_id
STRIPE_BUSINESS_MONTHLY_PRICE_ID=buss_price_id
