@import "tailwindcss";

@theme {
  --color-primary: #FD7D40;
  --color-primary-hover: #DE7921;
  --color-accent: #FF8F1F;
  --color-secondary: #FEF2F2;
  --color-background: #ffffff;
  --color-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}